<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanzible.sampleproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.tanzible.sampleproject.YourLocationActivity"></activity>
        <activity android:name="com.tanzible.sampleproject.EventListActivity" />
        <activity android:name="com.tanzible.sampleproject.Profile" />
        <activity android:name="com.tanzible.sampleproject.Gallery" />
        <activity android:name="com.tanzible.sampleproject.Registration" />
        <activity android:name="com.tanzible.sampleproject.ImportantContact" />
        <activity android:name="com.tanzible.sampleproject.DonationList" />
        <activity android:name="com.tanzible.sampleproject.MemberList" />
        <activity android:name="com.tanzible.sampleproject.Feedback" />
        <activity android:name="com.tanzible.sampleproject.Privacypolicy" />
        <activity android:name="com.tanzible.sampleproject.ClubHistory" />
        <activity android:name="com.tanzible.sampleproject.MainActivity"/>
        <activity android:name="com.tanzible.sampleproject.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>